<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>CABINET</title>
  <meta name="description" content="A webapp for teachesrs to manage thier work">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{!-- OG Property --}}
  <meta property="og:title" content="CABINET">
  <meta property="og:type" content="website">
  <meta property="og:url" content="CABINET.org">
  <meta property="og:image" content="">

  {{!-- Fonts Link--}}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap" rel="stylesheet">

  {{!-- Icons --}}
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="apple-touch-icon" href="/img/siteImages/icon.png">

  {{!-- CSS Files --}}
  {{!-- <link rel="stylesheet" href="/assets/font-awesome/css/all.css"> --}}
  {{!-- <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" /> --}}
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

  {{!-- CDN  --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

  {{!-- Mobile color --}}
  <meta name="theme-color" content="#fff">
</head>

<body onload="checkCookie()">

  <!-- Add your site or application content here -->
  <div id="big-container" class="hidden">
    <div id="header-container" class="d-md-none mobile-header">
      <div id="title-text">
        <img src="/img/siteImages/logo.svg" alt="logo-image">
        <div class="logo-text">
          <h6>CABINET.</h6>
          <h6>APP</h6>
        </div>
      </div>

      <div id="navigation" class="bg-dark">
        <div id="navigation-icons" class="">
          <span class="fas fa-user-circle mr-1" id="sign-in-icon">
            <div id="sign-in-content">
              <div id="profile-button" onclick="toggleDisplay('profile-box')"> <i class="fas fa-user-circle"></i> My
                Profile
              </div>
              <div id="login-button"> <i class="fas fa-sign-in-alt"></i> Logout </div>
            </div>
          </span>
          <span class="fas fa-bars" id="dropdown-icon">
            <div id="dropdown-content">
              <a href="/logout">Developers</a><br>
              <a href="/contact">Contact</a><br>
              <a href="/about">About</a><br>
            </div>
          </span>
        </div>
      </div>
    </div>

    <!-- The Side bar and Main Bars House -->
    <main id="main" role="main" class="">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-8 " id="main-bar">
            <!-- The Header Apartment -->
            <div id="header-container" class="d-none d-md-flex">
              <div id="title-text">
                <img src="/img/siteImages/logo.svg" alt="logo-image">
                <div class="logo-text">
                  <h6>CABINET.</h6>
                  <h6>APP</h6>
                </div>
              </div>

              <div id="navigation">
                <div id="navigation-icons">
                  <span class="fas fa-user-circle mr-1" id="sign-in-icon">
                    <div id="sign-in-content">
                      <div id="register-button" onclick="toggleDisplay('profile-box')"> <i class=" fas fa-user-circle">
                        </i> My Profile </div>
                      <div id="login-button"> <i class="fas fa-sign-in-alt"></i> Logout </div>
                    </div>
                  </span>
                  <span class="fas fa-bars" id="dropdown-icon">
                    <div id="dropdown-content">
                      <a href="/logout">Developers</a><br>
                      <a href="/contact">Contact</a><br>
                      <a href="/about">About</a><br>
                    </div>
                  </span>
                </div>
              </div>
            </div>

            <!-- Teacher Profile -->
            <div id="profile-box" class="section container mw-100 py-4 mt-2 ">
              <div id="profile-image"></div>
              <div id="profile-bio">
                <div id="profile-name">
                  <h3 class="teacher-name">Mr. Jon Pan</h3>
                  <h5 class="mt-n2 teacher-feild">Maths & Economics </h5>
                </div>
              </div>

              <form id="profile-form">
                <div class="row mb-2">
                  <div class="col-12 col-sm-4">
                    <input type="text" class="teacher-f-feild mw-100 disabled" placeholder="Maths & Economics"
                      disabled />
                  </div>
                  <div class="col-12 col-sm-4">
                    <input type="text" class="teacher-f-name mw-100 disabled" placeholder="Jon Pan" disabled />
                  </div>
                  <div class="col-12 col-sm-4">
                    <input type="number" class="teacher-f-age mw-100 disabled" placeholder="17" disabled />
                  </div>

                  <div class="w-100"></div>

                  <div class="col-12 col-sm-4">
                    <input type="number" class="teacher-f-phone mw-100 disabled" placeholder="09027365256" disabled />
                  </div>
                  <div class="col-12 col-sm-4">
                    <input type="email" class="teacher-f-mail mw-100 disabled" placeholder="jessemoses87@gmail.com"
                      disabled />
                  </div>
                  <div class="col-12 col-sm-4">
                    <input type="text" class="teacher-f-address mw-100 disabled" placeholder="Barama, Mubi North"
                      disabled />
                  </div>

                  <div class="w-100"></div>

                  <div class="col-12 col-sm-4 mb-2">
                    <input type="text" class="teacher-f-username" placeholder="rellbetis" disabled></input>
                  </div>

                  {{!-- Buttoms --}}
                  <div class="col-12 col-sm-4 mb-2">
                    <button class=" btn btn-primary btn-sm editBtn">EDIT <i class="fas fa-pen"></i></button>
                  </div>
                  <div class="col-12 col-sm-4">
                    <button class="btn btn-success btn-sm saveBtn" type="submit" disabled> SAVE <i
                        class="far fa-check-circle"></i>
                    </button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 fw-300">
                    *Leave feilds you want to maintain blank
                  </div>
                </div>
              </form>
            </div>

            {{!-- Class Scedule --}}
            <div id="schedule-box" class="section container mw-100 mt-2 hidden">
              <div class="row section-header">
                <div class="col py-2">
                  <h4> <i class="far fa-clock"></i> Class Schedule</h4>
                </div>
              </div>

              {{!-- Monday --}}
              <div class="row s-light">
                <div class="col-12 mb-n1">
                  <h6 class="fw-400">MONDAY</h6>
                </div>
                <div class="col monday-item">SS3 <i class="far fa-clock"></i>3:00
                </div>

                <div class="col monday-item"> JSS3 <i class="far fa-clock"></i>2:00
                </div>

                <div class="col monday-item">SS3 <i class="far fa-clock"></i>2:00
                </div>
              </div>

              {{!-- Tuesday --}}
              <div class="row s-light">
                <div class="col-12 mb-n1">
                  <h6 class="fw-400">TUESDAY</h6>
                </div>
                <div class="col tuesday-item">SS3 <i class="far fa-clock"></i>3:00
                </div>

                <div class="col  tuesday-item">
                  JSS3 <i class="far fa-clock"></i>2:00
                </div>

                <div class="col tuesday-item">SS3 <i class="far fa-clock"></i>2:00</span>
                </div>
              </div>

              {{!-- Wednessday --}}
              <div class="row s-light ">
                <div class="col-12 mb-n1">
                  <h6 class="fw-400">WEDNESSDAY</h6>
                </div>
                <div class="col wednessday-item">SS3 <i class="far fa-clock"></i>3:00
                </div>

                <div class="col  wednessday-item">
                  JSS3 <i class="far fa-clock"></i>2:00
                </div>

                <div class="col wednessday-item">SS3 <i class="far fa-clock"></i>2:00</span>
                </div>
              </div>

              {{!-- Thursday --}}
              <div class="row s-light">
                <div class="col-12 mb-n1">
                  <h6 class="fw-400">THURSDAY</h6>
                </div>
                <div class="col thursday-item">SS3 <i class="far fa-clock"></i>3:00
                </div>

                <div class="col thursday-item">
                  JSS3 <i class="far fa-clock"></i>2:00
                </div>

                <div class="col thursday-item">SS3 <i class="far fa-clock"></i>2:00</span>
                </div>
              </div>

              {{!-- Friday --}}
              <div class="row s-light">
                <div class="col-12 mb-n1">
                  <h6 class="fw-400">FRIDAY</h6>
                </div>
                <div class="col friday-item">SS3 <i class="far fa-clock"></i>3:00
                </div>

                <div class="col  friday-item">
                  JSS3 <i class="far fa-clock"></i>2:00
                </div>

                <div class="col friday-item">SS3 <i class="far fa-clock"></i>2:00</span>
                </div>
              </div>

              {{!-- Buttons --}}
              <div class="row mb-0 s-light " id="allSchButtons">
                {{!-- Manage Button --}}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                  <button class="btn btn-sm btn-success mw-100" id="scheduleManageBtn"
                    onclick="showTableOptions('scheduleManageBtn', 'schBtnContainer')">
                    Manage Table <i class="fas fa-arrow-right"></i>
                  </button>
                </div>

                {{!-- Button Container --}}
                <div class="col-12 hidden" id="schBtnContainer">
                  <div class="row">
                    <div class="col-md-3">
                      <button class="btn btn-success btn-sm mb-2 mw-100"
                        onclick="showAdd('schBtnContainer', 'schFormContainer', 'addForm', 'allSchButtons', 'deleteForm')">
                        <i class="fas fa-plus"></i> Add
                      </button>
                    </div>
                    <div class="col-md-3">
                      <button class="btn btn-primary btn-sm mb-2 mw-100"
                        onclick="showAdd('schBtnContainer', 'schFormContainer', 'addForm', 'allSchButtons', 'deleteForm')">
                        <i class="fas fa-pen-alt"></i> Edit
                      </button>
                    </div>
                    <div class="col-md-3">
                      <button class="btn btn-danger btn-sm mw-100"
                        onclick="showDelete('schBtnContainer', 'schFormContainer', 'deleteForm', 'allSchButtons', 'addForm' )">
                        <i class="fas fa-trash-alt"></i> Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              {{!-- Forms --}}
              <div class="row bg-dark s-light hidden" id="schFormContainer">
                {{!-- delete --}}
                <div class="col-12 table-form hidden" id="deleteForm">
                  <form id="schDeleteForm">
                    <div class="row">
                      <div class="col-md-6 mb-2">
                        <select class="mw-100" id="schDeleteDay">
                          <option value="">Select Day</option>
                          <option value="monday">Monday</option>
                          <option value="tuesday">Tuesday</option>
                          <option value="wednessday">Wednessday</option>
                          <option value="thursday">Thursday</option>
                          <option value="friday">Friday</option>
                        </select>
                      </div>

                      <div class="col-md-6 mb-2">
                        <select class="mw-100" id="schDeletePeriod">
                          <option value="">Period</option>
                          <option value="0">Period 1</option>
                          <option value="1">Period 2</option>
                          <option value="2">Period 3</option>
                        </select>
                      </div>

                      <div class="col-md-6 mb-2">
                        <span class="mw-100 btn btn-danger btn-sm" onclick="cancelT('sch')"><i
                            class="far fa-times-circle"></i> CLOSE</span>
                      </div>

                      <div class="col-md-6">
                        <button class="mw-100 btn btn-danger btn-sm" type="submit"><i class="fas fa-trash-alt"></i>
                          DELETE</button>
                      </div>
                    </div>
                  </form>
                </div>

                {{!-- Edit/Add --}}
                <div class="col-12 table-form hidden" id="addForm">
                  <form id="schAddForm">
                    <div class="row">
                      <div class="col-md-6 mb-2">
                        <select class="mw-100" id="schDay">
                          <option value="">Day</option>
                          <option value="monday">Monday</option>
                          <option value="tuesday">Tuesday</option>
                          <option value="wednessday">Wednessday</option>
                          <option value="thursday">Thursday</option>
                          <option value="friday">Friday</option>
                        </select>
                      </div>

                      <div class="col-md-6 mb-2">
                        <select class="mw-100 " id="schPeriod">
                          <option value="">Period</option>
                          <option value="0">Period 1</option>
                          <option value="1">Period 2</option>
                          <option value="2">Period 3</option>
                        </select>
                      </div>

                      <div class="col-md-6 mb-2">
                        <select class="mw-100" id="schClass">
                          <option value="">Class</option>
                          <option value="JSS1">JSS1</option>
                          <option value="JSS2">JSS2</option>
                          <option value="JSS3">JSS3</option>
                          <option value="SS1">SS1</option>
                          <option value="SS2">SS2</option>
                          <option value="SS3">SS3</option>
                        </select>
                      </div>

                      <div class="col-md-6 mb-2">
                        <select class="mw-100" id="schTime">
                          <option value="">Time</option>
                          <option value="7AM">7AM</option>
                          <option value="8AM">8AM</option>
                          <option value="9AM">9AM</option>
                          <option value="10AM">10AM</option>
                          <option value="11AM">11AM</option>
                          <option value="12PM">12PM</option>
                          <option value="1PM">1PM</option>
                          <option value="2PM">2PM</option>
                          <option value="3PM">3PM</option>
                          <option value="4PM">4PM</option>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <span class="mw-100 btn btn-success btn-sm" onclick="cancelT('sch')"> <i
                            class="far fa-times-circle">
                          </i> CLOSE </span>
                      </div>
                      <div class="col-md-6">
                        <button class="mw-100 btn btn-success btn-sm" type="submit"><i class="far fa-check-circle"></i>
                          SAVE
                        </button>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12 text-light">
                        *Leave feilds you want to maintain blank
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>

            {{!-- Notifications Use this template--}}
            <div id="notifications" class="section container mw-100 mt-2 hidden">
              <div class="row section-header">
                <div class="col py-2">
                  <h4><i class="fas fa-bell"></i> Notifications</h4>
                </div>
              </div>

              <div class="row notification-content">
                <div class="col-12 notification-item ">28th August: We are launching a new portal </div>
                <div class="col-12 notification-item">28th June: We are launching a new portal </div>
                <div class="col-12 notification-item">18th April: We are launching a new portal </div>
                <div class="col-12 notification-item">22nd May: We are launching a new portal </div>
                <div class="col-12 notification-item">2nd September: We are launching a new portal </div>
              </div>

            </div>

            {{!-- Students profile --}}
            <div id="student-profile" class="section container mw-100 my-2 hidden">
              <div class="row section-header">
                <div class="col py-2">
                  <h4> <i class="fas fa-user"></i> Student Profile</h4>
                </div>
              </div>

              <div class="row py-2 student-table-heading">
                <div class="col-4">NAME</div>
                <div class="col-2">1<sup>st</sup> C.A</div>
                <div class="col-2">2<sup>nd</sup> C.A</div>
                <div class="col-2">EXAM</div>
                <div class="col-2">TOTAL</div>
              </div>

              <div class="row">
                <div class="col-12" id="student-profile-content">

                </div>
              </div>

              {{!-- Buttons --}}
              <div class="row mb-0 s-light " id="allStudentButtons">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                  <button class="btn btn-sm btn-success mw-100" id="studentManageBtn"
                    onclick="showTableOptions('studentManageBtn', 'studentBtnContainer')">
                    Manage Table <i class="fas fa-arrow-right"></i>
                  </button>
                </div>

                <div class="col-12 hidden" id="studentBtnContainer">
                  <div class="row">
                    <div class="col-md-3">
                      <button class="btn btn-success btn-sm mb-2 mw-100"
                        onclick="showAdd('studentBtnContainer', 'studentFormContainer', 'studentAddForm', 'allStudentButtons', 'studentDeleteForm')">
                        <i class="fas fa-plus"></i> Add <i class="fas fa-pen-alt" style="padding-left: 3px;"></i> Edit
                      </button>
                    </div>
                    <div class="col-md-3">
                      <button class="btn btn-danger btn-sm mw-100"
                        onclick="showDelete('studentBtnContainer', 'studentFormContainer', 'studentDeleteForm', 'allStudentButtons', 'studentAddForm')">
                        <i class="fas fa-trash-alt"></i> Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              {{!-- Forms --}}
              <div class="row bg-dark s-light hidden" id="studentFormContainer">

                <div class="col-12 table-form hidden" id="studentDeleteForm">
                  <form id="tableDeleteForm">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-4 mb-2">
                        <input type="text" placeholder="First Name" class="mw-100 studentDeleteName" />
                      </div>


                      <div class="col-12 col-md-6 col-lg-4 mb-2">
                        <input type="text" placeholder="Second Name" class="mw-100 studentDeleteName" />
                      </div>

                      <div class="col-12 col-md-6 col-lg-4 mb-2">
                        <span class="mw-100 btn btn-danger btn-sm" onclick="cancelT('student')"><i
                            class="far fa-times-circle"></i> CLOSE
                        </span>
                      </div>

                      <div class="col-12 col-md-6 col-lg-4">
                        <button type="submit" class="mw-100 btn btn-danger"><i class="fas fa-trash-alt"></i>
                          DELETE</button>
                      </div>
                    </div>
                  </form>
                </div>


                <div class="col-12 table-form hidden" id="studentAddForm">
                  <form id="tableAddForm">
                    <div class="row">
                      <div class="col">
                        <input type="text" placeholder="First Name" class="mw-100 studentFirstName">
                      </div>

                      <div class="col mb-2">
                        <input type="text" placeholder="Last Name" class="mw-100 studentSecondName">
                      </div>


                      <div class="col mb-2">
                        <input type="number" placeholder="First CA" class="mw-100 firstCA" max="10">
                      </div>

                      <div class="col mb-2">
                        <input type="number" placeholder="Second CA" class="mw-100 secondCA" max="10">
                      </div>

                      <div class="col mb-2">
                        <input type="number" placeholder="Exam" class="mw-100 exam" max="70">
                      </div>


                      <div class="col mb-2">
                        <select class="mw-100 studentType" required>
                          <option value="">Student Type</option>
                          <option value="NEW">New Student</option>
                          <option value="OLD">Existing Student</option>
                        </select>
                      </div>

                      <div class="col mb-2">
                        <span class="mw-100 btn btn-danger btn-sm" onclick="cancelT('student')"><i
                            class="far fa-times-circle"></i> CLOSE
                        </span>
                      </div>

                      <div class="col">
                        <button type="submit" class="mw-100 btn btn-success"><i class="fas fa-check"></i> SAVE</button>
                      </div>


                    </div>
                    <div class="row">
                      <div class="col-12 text-light">
                        *Leave feilds you want to maintain blank
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 col-md-4 mt-md-2 d-none d-md-block" id="side-bar">
            <div class="row px-3 sidebar-container">
              <div class="col user-box">
                <div class="sidebar-img">
                </div>

                <div class="sidebar-name">
                  <h4 class="m-0 teacher-name">Ibrahim Badamasi</h4>
                  <h6 class="m-0 teacher-feild">Geological Physics</h6>
                </div>
              </div>

              <div class="sidebar-item">
                <div class="sidebar-item-heading">Action Pane</div>
                <div class="sidebar-item-content">
                  <div class="profile-btn" onclick="toggleDisplay('profile-box')"><i class="fas fa-user"></i> PROFILE
                  </div>
                  <div class="student-btn" onclick="toggleDisplay('student-profile')"><i
                      class="fas fa-users"></i>STUDENTS</div>
                  <div class="class-schedule-btn" onclick="toggleDisplay('schedule-box')"><i
                      class="fas fa-clipboard"></i>
                    CLASS SCHEDULE</div>
                  <div class="notification-btn" onclick="toggleDisplay('notifications')"><i class="fas fa-bell"></i>
                    NOTIFICATIONS</div>
                  <div onclick="toggleDisplay('')"><i class="fas fa-eye"></i>ALL TABLES </div>
                  <div class="logout-btn" onclick="logout()"><i class="fas fa-sign-in-alt"></i> LOGOUT</div>
                </div>
              </div>


              <div class="sidebar-item">
                <div class="sidebar-item-content">
                  &copy; 2020 Cabinet.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="container-fluid d-md-none">
      <div class="row bottom-navigation mw-100">
        <div class="col-3" onclick="toggleDisplay('profile-box')"><i class="fas fa-user"></i></div>
        <div class="col-3" onclick="toggleDisplay('schedule-box')"><i class="fas fa-clipboard-list"></i></div>
        <div class="col-3" onclick="toggleDisplay('student-profile')"><i class="fas fa-users"></i></div>
        <div class="col-3" onclick="toggleDisplay('notifications')"><i class="fas fa-bell"> </i> </div>
      </div>
    </div>

    <div id="userAlert" class="hidden">
      <i class="far fa-check-circle"></i>
      <div>Save Succesfull</div>
    </div>
  </div>

  <div id="pre-entry" class="hidden container-fluid">
    <div class="row">
      <div class="col-9 graphic-container">
        <div class="graphic-image ">
          <img src="/img/siteImages/hat2.svg" class="img-fluid">
        </div>
        <div class="graphic-text">
          <h3>TRY NOW FOR FREE</h3>
          <h6>Get rid of papers, we store things for you!</h6>

          <button>REGISTER</button>
          <button>PRICING </button>
        </div>
      </div>

      <div class="col-3 login-form-container">

        <form id="login-form" class="login-side-object">
          <label for="username">USERNAME</label>
          <input type="text" class="login-username mw-100" required />

          <label for="password">PASSWORD</label>
          <input type="password" class="login-password mw-100" required />

          <div class="myAlert" style="display:none; ">
            <b>
              Username | Password Incorect
            </b>
          </div>

          <button type="submit" class="mw-100 log-button">LOGIN <i class="fas fa-paper-plane"></i></button>

        </form>

        <div class="login-side-object">
          <div class="side-object-heading">
            <h6>Quick Links</h6>
          </div>

          <div class="side-object-content">
            <a href="/developers">Developer Team</a> <br>
            <a href="/contacts">Contacts</a> <br>
            <a href="/rescources">Rescources <i class="fas fa-link"></i></a> <br>
            <a href="/misc">Twitter</a> <i class="fas fa-link"></i><br>
            <a href="" target="blank">GitHub Repo <i class="fas fa-link"></i></a>
          </div>
        </div>

        <div class="login-side-object">
          CABINET &copy; 2018
        </div>
      </div>
    </div>
  </div>

  {{!-- Hidden Parameter --}}
  <button class="hiddenpassword hidden" value=""></button>
  <!-- Javascript -->
  <noscript>
    <style>
      #big-container {
        display: none;
      }

      #links {
        display: none;
      }

      #no-script {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        font-size: 5vmin;
        height: 100vh;
        width: 100vw;

        padding: 0px 2vmin;
      }

      #reason-text {
        margin-top: 10px;
        font-size: 3vmin;
      }
    </style>

    <div id="no-script">
      <div id="info-text">
        Hello, <strong> Javascript is disabled</strong> on your machine
        Enable it or use another browser!
      </div>

      <div id="reason-text">
        Why? This website relies heavily on javascript to work properly <br>
        <a href="#">Learn More</a>
      </div>
    </div>
  </noscript>
  <script src="/js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>